html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('./images/stars.jpg');
  color: #0f0;
}

main {
  padding: 20px;
}

.nav-item a {
  color: #0f0 !important;
}

.next-previous {
  cursor: pointer;
}